*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    justify-items: center;
    width: 100%;
    height: 100%;
    
}
.nav-container{
    width: 100%;
    justify-items: center;
    background-color: rgb(133, 21, 21);
    padding:30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr; 
    position: relative;
}
.products{
    color:rgb(133, 21, 21);
    margin-left: 30px;
}
.nav-container a{
    text-decoration: none;
    padding:10px 10px 0 10px;
    border-radius: 10px;
    box-shadow: 1px 2px 1px 2px rgb(222, 215, 215);
    background: rgba(255,255,255,0.1);
    backdrop-filter: blur(20px);
    border: 1px solid rgba(255,255,255,0.2);
    background-color: white;
    color:rgb(110, 22, 22);
    font-weight: bold;
}
.bg-img{
    width: 100%;
    height: 500px;
}
.img{
    width:100%;
    height: 100%;
}
.product-section{
    margin-top: 20px;
}
.product-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding:50px;
    gap:30px;
}
.itemDiv{
    border:none;
    box-shadow: 2px 2px 2px 2px rgb(147, 142, 142); ;
    border-radius: 20px;
    height:100%;
    overflow: hidden;
    background-color: black;
}

.itemDiv img{
    padding:10px;
}
.itemImg{
    padding-bottom: 20px;
}
.descDiv{
    background-color: rgb(110, 22, 22);
    color: white;
    height: 100%;
    padding:20px;
    line-height: 1.5;
    text-align: justify;
}
.description{
    width: 370px;
    height: 70px;
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: white;
}
#addCart{
    width: 40%;
    padding:10px;
    border: none;
    border-radius: 20px;
}
.btn{
    margin:30px;
}
.pText{
    font-size: 2em;
    font-weight: bold;
}

.footer{
    width:100%;
    width: 100%;
    background-color: black;
    color:white;
    display: flex;
    padding:30px;
    justify-content: space-between;
    
}
.footText{
    line-height: 1.5;
}
.mode img{
    margin-top: 10px;
    width:40px;
    height: 40px;
}
#moon{
    background-color:rgb(133, 21, 21) ;
}

.about-container{
    background-image: url(./img/about.avif);
    width: 100%;
    height: 500px;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    color:rgb(133, 21, 21);
    font-weight: bold;
}
.about{
    position: absolute;
     color: rgb(133, 21, 21);
     font-size: 2em;
     transform: translateY(200px);
     left:70%;
     padding:20px;
}
.homeAbout a{
    text-decoration: none;
   color:black;
   margin-top: 20px;
}
.aboutDesc{
    display: flex;
    gap:50px;
    padding:30px;
    display: justify;
    margin-bottom: 30px;
}
.Desc{
    width:25%;
}
.video-section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 30px 0 60px 90px;
}

.video-section video{
    border-radius: 20px;
}
/* cart */
.cart-container{
    width:100%;
}
.cart-btn{
    display: flex;
    justify-content: space-around;
    width:100%;
}
.cart-btn button{
    width: 20%;
    height: 40px;
    margin: 30px 0;
    outline: 0;
    border: 0;
    background-color: rgba(0, 0, 0, 0.689);
    color:white;
    border-radius: 10px;
}
.result{
    padding:5px 0 100px 120px;
    width:45%;
    height: 400px;   
}
.result .get-container img{
    width:180px;
    height:180px;
    margin-top:40px;

}
.result .get-container{
    display:grid;
    grid-template-columns: 1fr 1fr;
}
.addCart{
    width:40%;
    padding:10px;
    border:none;
    border-radius: 20px;
}

/*product detail*/
.singleContainer{
    width:100%;
    height: 100%;
}